:root {
    --primary-color: #1677FF;
    --bg-color: #f5f7fa;
    --card-color: #fff;
    --text-color: #333;
}

[data-theme="light"] {
    --aside-bgc: #167acb;
    --aside-color: #fbfbfb;
    --header-bgc: #fff;
    --header-color: #0746a6;
    --header-shadow: #9e9e9ebe;
    --main-bgc: #f8f8f8;
    --main-color: #333;
    --button-bgc: #fff;
    --button-bgc-hover: #e9e7e7;
    --webkit-thumb-color: #3962f6;

}

[data-theme="dark"] {
    --aside-bgc: #052049e9;
    --aside-color: #dfe0e1;
    --header-bgc: #032c42;
    --header-color: #2675ed;
    --main-bgc: #021233;
    --main-color: #dbdcde;
    --header-shadow: #636363a7;
    --button-bgc: #2a3146;
    --button-bgc-hover: #02173b;
    --webkit-thumb-color: #052879;
}

* {
    /* border: 1px solid red; */
}

.aside {
    background-color: var(--aside-bgc);
    color: var(--aside-color);
    z-index: 2;
    transition: all 0.3s ease;
}

.header {
    background-color: var(--header-bgc);
    color: var(--header-color);
    box-shadow: 1px 1px 8px var(--header-shadow);
    transition: all 0.3s ease;
}

.main {
    background-color: var(--main-bgc);
    color: var(--main-color);
    transition: all 0.3s ease;
}

.container {
    background-color: var(--main-bgc);
    color: var(--main-color);
    transition: all 0.3s ease;
    line-height: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* 整个滑动条 */
::-webkit-scrollbar {
    width: 5px;
    padding: 10px;
}

/* 滑块 */
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: var(--webkit-thumb-color);
    border-radius: 3px;
    width: 3px;
}

.button {
    color: var(--main-color);
    background-color: var(--button-bgc);

}

.button:hover {
    background-color: var(--button-bgc-hover);
}